.students-container {
  width: 25vw;
  height: 60vh;
  border: 1px solid rebeccapurple;
  margin: 0px 10px;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none; 
  /* -ms-overflow-style: none;  */
}

/* .list-container::-webkit-scrollbar {
  display: none; 
} */
